{% extends '@app_common_resources/index.html.twig' %}

{% block title %} Login | Me App {% endblock %}
    
{% block stylesheets %}
    <link href="{{ asset('assets/css/user-management/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="container">
        {# <video autoplay muted loop id="login-video">
            <source src="{{ asset('assets/video/ocean-overview.mp4') }}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="video-overlay"></div> #}
        <div class="login-bg"></div>
        <div class="login-wrapper">

            {% if exception is defined %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ exception }}
                </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Log in to <b>Me App</b> </h4></div>
                <div class="panel-body">
                    <form method="POST" action="{{ path('user_management_login_submit') }}">
                        <div class="form-group">
                            <label class="control-label">Username </label>
                            <input 
                                type="text" 
                                id="username" 
                                name="username"
                                class="form-control" 
                                placeholder=""
                                required
                                autocomplete="off"
                            >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password </label>
                            <input 
                                type="password" 
                                id="password" 
                                name="password"
                                class="form-control" 
                                placeholder=""
                                required
                                autocomplete="off"
                            >
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Log In">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="sign-up-text">Don't have an account yet? <a href="{{ path('user_management_register') }}">Create an account</a></p>
                        </div>
                        <br>
                        <div class="form-group">
                            <p class="copyright-text">
                                <small>© 2019 <a href="https://lorddashme.github.io/" target="_blank">LordDashMe</a></small>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}
